<fieldset>
  <h2 class="fs-title">{{title}}</h2>
  {{#answers}}
    <div class="checkbox">
      <label><input type="checkbox" name="{{../name}}" value="{{value}}">
      <span>{{title}}</span>
     </label>
    </div>
  {{/answers}}
  <input type="button" name="previous" class="previous action-button" value="Previous" />
  <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
