{{! Submission page - placed at the end of the form, behaviour of submit handled in ***.js}}
<fieldset>
  <h1>{{title}}</h1>
  <h2 class="fs-title">{{submitmessage}}</h2>
  <input type="button" name="previous" class="previous action-button" value="Previous" />
  <input type="submit" name="submit" class="submit action-button" value="Submit" />
</fieldset>
