<fieldset>
  <h2 class="fs-title">{{title}}</h2>
  <div class="textarea">
    <label>
      <textarea name="{{name}}" value="{{value}}" placeholder="{{placeholder}}"></textarea>
    </label>
  </div>
  <input type="button" name="previous" class="previous action-button" value="Previous" />
  <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
