<fieldset>
  <h2 class="fs-title">{{thankyoumessage}}</h2>
  <!-- <h3>JSON Output</h3>
  <pre id="output">
  </pre> -->
  <!-- <h3 id="result"></h3> -->
  <input type="button" name="startagain" class="startagain action-button" value="Exit" />
</fieldset>
